@import "@/styles/import.scss";

.extension {
  &_bar {
    background-color: #373f68;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    color: white !important;

    .text_extension {
      color: #f2f4fe;
    }

    .ui-button__feedback {
      margin-left: auto !important;
    }

    .ui-button__feedback {
      margin: 0;
    }
  }

  @include media(">=md") {
    margin: auto;
    &_bar {
      width: 720px;
      height: 72px;
      margin: auto;
      padding: 1.6rem;
      border-radius: 10px;

      .text_extension {
        margin-left: 2.3rem;
        font-size: 14px;
      }

      &__suggestions {
        display: flex;
        gap: 1rem;

        h3 {
          color: white;
        }
      }

      &__roadmap {
        height: 113px;
        width: 720px;
        display: flex;
        align-items: center;
        margin: 3rem auto 2rem;
        padding: 1.6rem;
        border-radius: 10px;
        color: white !important;
        background-color: #373f68;
        transition: all 0.2s ease !important;

        &__content {
          h3 {
            color: white;
            font-size: 24px;
          }

          .goback {
            margin-left: -1.7rem;
          }

          .ui-button {
            margin: 0 !important;
          }
        }
        .ui-button__feedback {
          margin-left: auto !important;
        }
      }
    }
  }

  @include media(">=lg") {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &_bar {
      width: 825px;
      margin: 0;

      &__roadmap {
        width: 1138px;
        margin: 4.5rem 0 3.5rem;
      }
    }
  }
}
