@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";

.ui-button {
  transition: all ease 0.2s !important;
  @include colorStates;
  min-width: 48px !important;
  height: 30px !important;
  margin: 0.3rem;
  text-transform: capitalize !important;
  border-radius: 10px !important;
  padding: 0 10px !important;
  font-weight: 500 !important;
  letter-spacing: normal !important;

  &:not(.v-btn--icon) {
    border-radius: 0.625rem;
  }
  &:active {
    transform: scale(0.9);
  }
  &[disabled] {
    box-shadow: unset;
  }
  &:hover::before {
    opacity: 0 !important;
  }

  &__chip {
    cursor: auto !important;
    width: fit-content !important;
    font-weight: bold !important;
    font-size: 13px !important;
    transform: none !important;
  }

  &__upvote {
    font-weight: bold !important;
    color: $dark_blue !important;
    background-color: $light-bg !important;
    transform: none !important;

    &:hover {
      background-color: $light-blue !important;
    }
  }

  &__upvoted {
    font-weight: bold !important;
    color: white !important;
    background-color: $blue !important;
    transform: none !important;

    svg {
      path {
        stroke: white !important;
      }
    }
  }

  &__comments {
    color: $dark_blue;
    transform: none !important;
  }

  &__comments_empty {
    color: #949cc4 !important;
    transform: none !important;
  }

  &__feedback {
    color: white !important;
    background-color: $purple !important;
    padding: 1.3rem 1rem !important;

    &:hover,
    &:active {
      background-color: #c75af6 !important;
    }
  }

  &__cancel {
    color: white !important;
    background-color: $dark_blue !important;
    padding: 1.3rem 1rem !important;

    &:hover,
    &:active {
      background-color: #656ea3 !important;
    }
  }
}
