@import "@/styles/colors.scss";
.ui-button {
  &__edit_feedback {
    padding: 1.25rem 1.1669rem !important;
    font-size: 13px !important;
    margin: 0 !important;
  }
}
.comments {
  width: 100%;

  &__header {
    margin-bottom: 1rem;
  }

  &__wrapper {
  }
}

.comment {
  margin-bottom: 1rem;
  &__content {
    padding: 1rem 0 !important;
    color: $text-primary;
    font-size: 13px;
    margin: 0 !important;
  }



  hr {
    opacity: 0.1;
    background-color: #8c92b3;
    margin: 0 auto 1.6rem;
  }
}

.replies {
  padding-left: 23px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 95%;
    width: 1px;
    opacity: 0.1;
    background-color: #647196;
    top: 0;
    left: 0;
  }

  &__wrapper {
    font-size: 13px;
    color: $text_primary;
    padding-bottom: 26px;

    &__content {
      padding: 1rem 0 !important;

      .replying_to {
        color: $purple;
        font-weight: bold;
      }
    }
  }
}
