@import "@/styles/import.scss";
.filter {
  .ui-button {
    &__primary {
      &:nth-of-type(2),
      &:nth-of-type(3) {
        text-transform: uppercase !important;
      }
    }
    &__secondary {
      &:nth-of-type(2),
      &:nth-of-type(3) {
        text-transform: uppercase !important;
      }
      &:active,
      &:hover {
        color: #f2f4fe !important;
        background-color: $blue-hover !important;
      }
    }
  }
  @include media(">=lg") {
    width: 255px;
    min-height: 166px;
  }
}
