$gradient_navbar: linear-gradient(
  40deg,
  hsl(201, 85%, 54%) 0%,
  hsl(274, 91%, 59%) 50%,
  hsl(346, 77%, 61%) 100%
);

$light-bg: #f2f4ff;
$lighter-bg: #f7f8fd;

$text_primary: #647196;
$purple: #ad1fea;
$blue: #4661e6;
$dark_blue: #3a4374;
$red: #d73737;

$light-blue: #cfd7ff;
$blue-hover: #7c91f9;
