// Color Feedback App Plate
$light-bg: #f2f4ff;
$lighter-bg: #f7f8fd;

$text_primary: #647196;
$dark_blue: #3a4374;
$red: #d73737;
$purple: #ad1fea;
$blue: #4661e6;

$light-blue: #cfd7ff;
$blue-hover: #7c91f9;

// Status Color Plate
$planned: #f49f85;
$in-progress: #ad1fea;
$live: #62bcfa;
