@import "./colors.scss";

@mixin colorStates {
  &__primary {
    color: white !important;
    background-color: $blue !important;
  }

  &__secondary {
    color: $blue !important;
    background-color: $light-bg !important;
  }

  &__transparent {
    color: currentColor !important;
    background-color: transparent !important;
  }
}
