@import "@/styles/import.scss";

.empty {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    height: 460px;
  }

  svg {
    margin-bottom: 39px;
  }

  &__title {
    font-size: 18px;
  }

  &__text {
    color: $text_primary;
    text-align: center;
    padding: 14px 0;
    font-size: 13px;
    padding: 0.8rem 1rem 1.5rem;
  }

  @include media(">=md") {
    width: 100%;
    &__text {
      width: 60% !important;
    }
  }

  @include media(">=lg") {
    &__content {
      height: 600px;
    }
    &__text {
      font-size: 1rem;
      width: 825px;
    }
  }
}
