@import "@/styles/import.scss";

.suggestions {
  padding: 1.5rem;
  @include card;

  &__btn {
    &:nth-of-type(1) {
      width: 69px;
      height: 32px !important;
    }
  }

  &__wrapper {
    &__comments {
      margin-left: auto;
      align-self: center;

      .v-btn__content {
        font-weight: bold;
        font-size: 16px !important;
      }
    }

    &__upvote {
      margin-right: 2.5rem;
    }
  }
  .ui-button {
    margin: 0;
  }
}

@include media(">=md") {
  .suggestions {
    min-height: 151px;

    &__title {
      font-size: 1.125rem;
    }

    &__content {
      width: calc(100% - 200px);
    }

    &__description {
      font-size: 16px;
      width: unset;
      margin: 0 0 12px;
    }

    &__btn {
      &.ui-button__primary {
        width: 40px !important;
        height: 53px !important;

        .v-btn__content {
          flex-direction: column;
          gap: 8px;
          align-items: center;
          justify-content: center;
          font-size: 13px;
        }
      }
    }
    &__wrapper {
      display: flex;
    }
  }
}

@include media(">=lg") {
  .cards {
    display: flex;
    justify-content: center;
    margin-top: 4.5rem;
    margin-right: 1.8rem;
  }

  .suggestions {
    width: 825px;
  }
}
