@import "@/styles/import.scss";

.roadmap {
  padding: 1rem 1.5rem 1.5rem;
  @include card;
  height: 251px;

  .ui-button {
    margin: 0;
  }

  @include media(">=md") {
    &__description {
      margin: 9px 0 1rem;
    }
  }

  @include media(">=lg") {
    &__header {
      h5 {
        font-size: 1.125rem !important;
      }
      &__subtitle {
        font-size: 1rem !important;
      }
    }

    &__status {
      margin-bottom: 14px !important;

      &__text {
        font-size: 1rem !important;
      }
    }

    &__title {
      font-size: 1.125rem;
    }

    &__description {
      margin-top: 4px;
      font-size: 1rem;
    }

    &__btn {
      width: 69px;
      height: 40px !important;
    }
  }
}
